* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}

h1 span {
    font-weight: lighter;
}

h2, h3, h4, p, .left__info {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #424243;
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    border-bottom: 2px solid #343334;
    line-height: 35px;
    width: 100%;

}

ul {
    list-style: none;
}

main {
    width: 75%;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
}

.left {
    width: 32%;
}

.left_background {
    background-color: #bed8ec;
}

.left__face, .left__info {
    width: 75%;
    margin: 0 auto;
}

.left__face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left__face img {
    width: 100%;
    margin-bottom: 35px;
}

.left__face h1 {
    margin-bottom: 15px;
}

.left__face p {
    margin-bottom: 45px;
    text-align: center;
}

.left__info {
    position: relative;
    top: -20px;
}

.left li {
    margin-bottom: 20px;
}

.contact_list li,
.follow__list li {
    display: flex;
    align-items: center;
}


.contact_list img {
    width: 18px;
    margin-right: 10px;
}

.follow__list img {
    width: 20px;
    margin-right: 10px;
}

.lang__list li, .place, .skills_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang__list img, .skills_list img {
    width: 12px;
    margin-right: 10px;
}

.hobbies-flex, .skills-flex {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 68%;
}

.right__container {
    width: 80%;
    margin: 0 auto;
}

.right__container>div {
    margin-bottom: 35px;
}

.right__container>div>p {
    margin-bottom: 25px;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.title img {
    width: 35px;
    margin-right: 10px;
}

.place {
    margin-bottom: 15px;
}

.skills_list img:first-of-type {
    margin-left: 20px;
}